<div class="sign">

    <div class="sign_box">
        
        <h2 class="sign_box_title">
            Sign Up
        </h2>

        <form class="sign_box_form" action="">
            
            <mat-form-field appearance="outline">
                
                <mat-label>Username</mat-label>

                <input type="text" matInput placeholder="Enter your username">
                

            </mat-form-field>

            <mat-form-field appearance="outline">

                <mat-label>Password</mat-label>
                
                <input type="password" matInput placeholder="Enter your password">

            </mat-form-field>
            
            <button class="sign_box_form_button">Sign Up</button>

            <p class="sign_box_form_signup">have an account?
                <span class="sign_box_form_signup_span">
                    <a class="sign_box_form_signup_span_link" routerLink="/login">Log in now!</a>
                </span>
            </p>
        </form>



    </div>

</div>
