<div class="header">
    <div class="header_logo">
        <img routerLink="/" src="./assets/Logo.png" alt="Logo">
    </div>
    <ul class="header_menu">
        <li class="header_menu_item">
            <a routerLink="/services" class="header_menu_item_link">Services</a>
        </li>
        <li class="header_menu_item">
            <a routerLink="/destinations" class="header_menu_item_link">Destinations</a>
        </li>
        <li class="header_menu_item">
            <a class="header_menu_item_link" routerLink="/bookings">Bookings</a>
        </li>
        <li class="header_menu_item">
            <a class="header_menu_item_link" routerLink="/about">About</a>
        </li>
        <li class="header_menu_item">
            <a routerLink="/login" class="header_menu_item_link">Login</a>
        </li>
        <li class="header_menu_item">
            <span routerLink="/signup" class="header_menu_item_span">
                <a  class="header_menu_item_span_link">Sign up</a>
            </span>
        </li>
        <li class="header_menu_item"><a class="header_menu_item_link">EN</a></li>
    </ul>
</div>