<div class="header">
    <div class="header_logo">
        <img src="./assets/Logo.png" alt="Logo">
    </div>
    <ul class="header_menu">
        <li class="header_menu_item">Destinations</li>
        <li class="header_menu_item">Hotels</li>
        <li class="header_menu_item">Flights</li>
        <li class="header_menu_item">Bookings</li>
        <li class="header_menu_item">Login</li>
        <li class="header_menu_item"><span class="header_menu_item_span">Sign up</span></li>
        <li class="header_menu_item">EN</li>
    </ul>
</div>