<div class="header">
    <div class="header_logo">
        <img routerLink="/" src="./assets/Logo.png" alt="Logo">
    </div>
    <ul class="header_menu">
        <li class="header_menu_item"><a routerLink="/services">Services</a></li>
        <li class="header_menu_item"><a routerLink="/destinations">Destinations</a></li>
        <li class="header_menu_item"><a>Bookings</a></li>
        <li class="header_menu_item"><a>About</a></li>
        <li class="header_menu_item">Login</li>
        <li class="header_menu_item"><span class="header_menu_item_span"><a>Sign up</a></span></li>
        <li class="header_menu_item">EN</li>
    </ul>
</div>