.services {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &_header {
        
        &_txt {
            font-family: var(--font-poppins);
            font-size: 1.8rem;
            font-weight: 600;
            color: var(--font-color-secundary);
        }
    }
}