<div class="login">

    <div class="login_box">
        
        <h2 class="login_box_title">
            LOGIN
        </h2>

        <form class="login_box_form" [formGroup]="loginForm">
            
            <mat-form-field appearance="outline">
                
                <mat-label>Username</mat-label>

                <input type="text" matInput placeholder="Enter your username" formControlName="userNameInput">
                

            </mat-form-field>

            <mat-form-field appearance="outline">

                <mat-label>Password</mat-label>
                
                <input type="password" matInput placeholder="Enter your password" formControlName="passwordInput">

            </mat-form-field>
            
            <button class="login_box_form_button" (click)="handleClick()">Login</button>

            <p class="login_box_form_signup">Create new 
                <span class="login_box_form_signup_span">
                    <a class="login_box_form_signup_span_link" routerLink="/signup">account now!</a>
                </span>
            </p>
        </form>



    </div>

</div>
