/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Poppins:wght@400;500;600;700&family=Volkhov:wght@700&display=swap');
@import './app/styles/reset.scss';
@import './app/styles/config.scss';

html {
    font-size: 10px;

    body {
        font-size: 1.6rem;
    }
}

html, body { height: 100%; }

@media screen and (max-width: 1560px) {
    html {
        font-size: 9px;
    }
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 8px;
    }
}

@media screen and (max-width: 1000px) {
    html {
        font-size: 7px;
    }
}

@media screen and (max-width: 500px) {
    html {
        font-size: 6px;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
